*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul .attr{
    display: inline-block;
    margin-left: 35px;
    font-family:cursive;
    font-weight: 300;
    border-bottom:none;
}
ul .attr a{
    text-decoration: none;
    color:wheat;
}
ul .title{
    display: inline-block;
    margin-right:20%;
    font-size: 40px;
    padding-left: 20px;
}
ul .title{
    color:rgb(247, 165, 66);
    font-family: cursive;
}
nav{
    background-color:green;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 25px;
    padding-left:20px;
    padding-right: 30px;
    position: fixed;
    position: relative;
    width: 100%;
}
ul .attr:hover a{
    color:white;
}
.add{
    max-width: 550px;
    margin-top: 2%;
    margin-left: 30%;
    padding-left: 5%;
    padding-top: 30px;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;;
}

.add input[type="text"],input[type="number"]{
    padding:18px 15px;
    width: 90%;
    background-color: #eaeaea;
    outline: 0;
    border: none;
    
}
.add input[type="submit"]{
    border:none;
    color:white;
    background-color: green;
    cursor: pointer;
    padding:16px 205px;
}
.add input[type="file"]{
    font-size: 20px;
}